<table class="table table-responsive table-hover">
  <thead>
    <tr class="text-center" style="background-color:rgba(141, 198, 177,0.90); color: whitesmoke">
      <th>
      </th>
      <th style="font-size: 20px;">SEA FOODS</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   <% data.forEach(function(item){%>
    <% if( item.categories == "Seafoods"){ %>
      <tr>
        <td class="text-center" style="width: 40px; font-size:30px;">
          <span class="fa fa-cutlery"></span>
        </td>
        <td style="padding-top:20px;">
          <b><%= item.name %></b>
        </td>
        <td style="padding-top:20px;">
          &#8369; <%= item.price %>.00
        </td>
      </tr> 
      <% } %>
      <%});%>
 </tbody>

 <thead>
  <tr class="text-center" style="background-color:rgba(141, 198, 177,0.90); color: whitesmoke">
    <th>
    </th>
    <th style="font-size: 20px;">MEAT</th>
    <th></th>
  </tr>
</thead>
<tbody>
 <% data.forEach(function(item){%>
  <% if( item.categories == "Meat"){ %>
    <tr>
      <td class="text-center" style="width: 40px; font-size:30px;">
        <span class="fa fa-cutlery"></span>
      </td>
      <td style="padding-top:20px;">
        <b><%= item.name %></b>
      </td>
      <td style="padding-top:20px;">
        &#8369; <%= item.price %>.00
      </td>
    </tr> 
    <% } %>
    <%});%>
</tbody>


 <thead>
  <tr class="text-center" style="background-color:rgba(141, 198, 177,0.90); color: whitesmoke">
    <th>
    </th>
    <th style="font-size: 20px;">VEGETABLES</th>
    <th></th>
  </tr>
</thead>
<tbody>
 <% data.forEach(function(item){%>
  <% if( item.categories == "Vegetables"){ %>
    <tr>
      <td class="text-center" style="width: 40px; font-size:30px;">
        <span class="fa fa-cutlery"></span>
      </td>
      <td style="padding-top:20px;">
        <b><%= item.name %></b>
      </td>
      <td style="padding-top:20px;">
        &#8369; <%= item.price %>.00
      </td>
    </tr> 
    <% } %>
    <%});%>
</tbody>

 <thead>
  <tr class="text-center" style="background-color:rgba(141, 198, 177,0.90); color: whitesmoke">
    <th>
    </th>
    <th style="font-size: 20px;">APPETIZER</th>
    <th></th>
  </tr>
</thead>
<tbody>
 <% data.forEach(function(item){%>
  <% if( item.categories == "Appetizer"){ %>
    <tr>
      <td class="text-center" style="width: 40px; font-size:30px;">
        <span class="fa fa-cutlery"></span>
      </td>
      <td style="padding-top:20px;">
        <b><%= item.name %></b>
      </td>
      <td style="padding-top:20px;">
        &#8369; <%= item.price %>.00
      </td>
    </tr> 
    <% } %>
    <%});%>
</tbody>

 <thead>
  <tr class="text-center" style="background-color:rgba(141, 198, 177,0.90); color: whitesmoke">
    <th>
    </th>
    <th style="font-size: 20px;">SALAD</th>
    <th></th>
  </tr>
</thead>
<tbody>
 <% data.forEach(function(item){%>
  <% if( item.categories == "Salad"){ %>
    <tr>
      <td class="text-center" style="width: 40px; font-size:30px;">
        <span class="fa fa-cutlery"></span>
      </td>
      <td style="padding-top:20px;">
        <b><%= item.name %></b>
      </td>
      <td style="padding-top:20px;">
        &#8369; <%= item.price %>.00
      </td>
    </tr> 
    <% } %>
    <%});%>
</tbody>

 <thead>
  <tr class="text-center" style="background-color:rgba(141, 198, 177,0.90); color: whitesmoke">
    <th>
    </th>
    <th style="font-size: 20px;">PANCIT</th>
    <th></th>
  </tr>
</thead>
<tbody>
 <% data.forEach(function(item){%>
  <% if( item.categories == "Pancit"){ %>
    <tr>
      <td class="text-center" style="width: 40px; font-size:30px;">
        <span class="fa fa-cutlery"></span>
      </td>
      <td style="padding-top:20px;">
        <b><%= item.name %></b>
      </td>
      <td style="padding-top:20px;">
        &#8369; <%= item.price %>.00
      </td>
    </tr> 
    <% } %>
    <%});%>
</tbody>

 <thead>
  <tr class="text-center" style="background-color:rgba(141, 198, 177,0.90); color: whitesmoke">
    <th>
    </th>
    <th style="font-size: 20px;">IHAW-IHAW</th>
    <th></th>
  </tr>
</thead>
<tbody>
 <% data.forEach(function(item){%>
  <% if( item.categories == "Ihaw-Ihaw"){ %>
    <tr>
      <td class="text-center" style="width: 40px; font-size:30px;">
        <span class="fa fa-cutlery"></span>
      </td>
      <td style="padding-top:20px;">
        <b><%= item.name %></b>
      </td>
      <td style="padding-top:20px;">
        &#8369; <%= item.price %>.00
      </td>
    </tr> 
    <% } %>
    <%});%>
</tbody>

 <thead>
  <tr class="text-center" style="background-color:rgba(141, 198, 177,0.90); color: whitesmoke">
    <th>
    </th>
    <th style="font-size: 20px;">RICE</th>
    <th></th>
  </tr>
</thead>
<tbody>
 <% data.forEach(function(item){%>
  <% if( item.categories == "Rice"){ %>
    <tr>
      <td class="text-center" style="width: 40px; font-size:30px;">
        <span class="fa fa-cutlery"></span>
      </td>
      <td style="padding-top:20px;">
        <b><%= item.name %></b>
      </td>
      <td style="padding-top:20px;">
        &#8369; <%= item.price %>.00
      </td>
    </tr> 
    <% } %>
    <%});%>
</tbody>


 <thead>
  <tr class="text-center" style="background-color:rgba(141, 198, 177,0.90); color: whitesmoke">
    <th>
    </th>
    <th style="font-size: 20px;">DESSERT</th>
    <th></th>
  </tr>
</thead>
<tbody>
 <% data.forEach(function(item){%>
  <% if( item.categories == "Dessert"){ %>
    <tr>
      <td class="text-center" style="width: 40px; font-size:30px;">
        <span class="fa fa-cutlery"></span>
      </td>
      <td style="padding-top:20px;">
        <b><%= item.name %></b>
      </td>
      <td style="padding-top:20px;">
        &#8369; <%= item.price %>.00
      </td>
    </tr> 
    <% } %>
    <%});%>
</tbody>

 <thead>
  <tr class="text-center" style="background-color:rgba(141, 198, 177,0.90); color: whitesmoke">
    <th>
    </th>
    <th style="font-size: 20px;">SOUP/SINIGANG</th>
    <th></th>
  </tr>
</thead>
<tbody>
 <% data.forEach(function(item){%>
  <% if( item.categories == "Soup/ Sinigang"){ %>
    <tr>
      <td class="text-center" style="width: 40px; font-size:30px;">
        <span class="fa fa-cutlery"></span>
      </td>
      <td style="padding-top:20px;">
        <b><%= item.name %></b>
      </td>
      <td style="padding-top:20px;">
        &#8369; <%= item.price %>.00
      </td>
    </tr> 
    <% } %>
    <%});%>
</tbody>


 <thead>
  <tr class="text-center" style="background-color:rgba(141, 198, 177,0.90); color: whitesmoke">
    <th>
    </th>
    <th style="font-size: 20px;">BEVERAGES</th>
    <th></th>
  </tr>
</thead>
<tbody>
 <% data.forEach(function(item){%>
  <% if( item.categories == "Beverages"){ %>
    <tr>
      <td class="text-center" style="width: 40px; font-size:30px;">
        <span class="fa fa-cutlery"></span>
      </td>
      <td style="padding-top:20px;">
        <b><%= item.name %></b>
      </td>
      <td style="padding-top:20px;">
        &#8369; <%= item.price %>.00
      </td>
    </tr> 
    <% } %>
    <%});%>
</tbody>

 <thead>
  <tr class="text-center" style="background-color:rgba(141, 198, 177,0.90); color: whitesmoke">
    <th>
    </th>
    <th style="font-size: 20px;">OTHER MENU</th>
    <th></th>
  </tr>
</thead>
<tbody>
 <% data.forEach(function(item){%>
  <% if( item.categories == "Other Menu"){ %>
    <tr>
      <td class="text-center" style="width: 40px; font-size:30px;">
        <span class="fa fa-cutlery"></span>
      </td>
      <td style="padding-top:20px;">
        <b><%= item.name %></b>
      </td>
      <td style="padding-top:20px;">
        &#8369; <%= item.price %>.00
      </td>
    </tr> 
    <% } %>
    <%});%>
</tbody>

</table>